
/.idea/*
/Platformer/bin/DesktopGL/AnyCPU/Debug/*
/Platformer/obj/Debug/*
/Platformer/anozer/dmn/OLD_Perso.cs
/Platformer/anozer/dmn/Perso.cs
/Platformer/anozer/dmn/Resources.cs
/Platformer/Content/character/*
/Platformer/Content/skeleton/*
/Platformer/Content/obj/*
/Platformer/Content/tilesets/*
