
/.idea/
/Platformer/bin/DesktopGL/AnyCPU/Debug/
/Platformer/obj/Debug/
/Platformer/Content/skeleton/spritesheet_idle.png
/Platformer/anozer/dmn/OLD_Perso.cs
/Platformer/anozer/dmn/Perso.cs
/Platformer/anozer/dmn/Resources.cs
